.bottom-menu-inverse
	background-color #64ecff
	border-radius 0px
	color white
	margin-top -54px
	.container
		position relative
		left 20px
	.brand
		margin -7px 0 0 0px
		border 0
		font-size 27px
		font-family wisdom_scriptregular
		color white
	a
		&:hover
			color darken(#64ecff, 60%)
			cursor pointer

.footer-buffer
	height 200px
	width 100%
