body
	margin 0
	padding 0

.header
	position fixed
	height 50px
	width 100%
	z-index 40
	background-color #64ecff
	opacity .85
	.logo
		background-color white
		height 30px
		width 30px
		padding 10px
		float left
		span
			position absolute
			top 0px
			font-size 40px
			font-family 'Lato', sans-serif
			color #64ecff
		&:hover
			background-color #64ecff
			span
				color white
	.menu-item
		position relative
		display block
		height 20px
		width 20px
		padding 15px
		float right
		i
			font-size 20px
			color white
.hero-image
	position absolute
	width 100%
	height 400px
	z-index 30
	margin-top 50px
	background url('http://sphotos-a.ak.fbcdn.net/hphotos-ak-ash4/217329_512913575433390_1150954179_n.png')
	background-size cover

			
			