.navbar
	margin 0 0 25px 0
	.navbar-inner
		background-color #64ecff
		border-radius 0px
		position relative
		.mobile-navbar-fill-left
			position absolute
			top 0px
			left -20px
			z-index -2
			height 100%
			width 100%
			background-color #64ecff
		.mobile-navbar-fill-right
			position absolute
			top 0px
			right -20px
			z-index -2
			height 100%
			width 100%
			background-color #64ecff
		.btn-navbar
			color white
		.brand
			margin 0 0 0 0px
			border 0
			font-size 27px
			font-family wisdom_scriptregular
			&:hover
				color white
				cursor pointer
		.nav
			li
				border 0
				a
					border 0
		.navbar-search-tablet
			position absolute
			top 0px
			right -10px
			.login-button
				position absolute
				top 8px
				right 220px
		.navbar-search
			margin -5px 30px 0 -10px
			border 0
			.login-button
				padding-left 12px  
				background-color #64ecff
				color white
				border 0
				&:hover
					background-color white
					color #64ecff
			.mobile-button
				border 0
			p 
				font-size 13px
				strong
					font-weight 700
					font-size 14px
			.input-append
				input
					background-color white
					color #666
					&:hover
						background-color white
						color #666
					&:active
						background-color white
						color #666
					&:focus
						background-color white
						color #666
					&:visited
						background-color white
						color #666
				.btn
					background-color white !important
					span
						color #64ecff
					i
						color #64ecff
						padding-right 10px