.hover-blue:hover {
  color: #64ecff;
}
.city-locked body {
  background: url("http://farm5.staticflickr.com/4119/4787086023_3b74f85dfe_o.jpg") no-repeat center center fixed;
  background-size: cover;
}
.select .btn {
  width: 100%;
}
.navbar > a {
  color: #fff;
}
.navbar-inverse .navbar-inner {
  background-color: #64ecff;
  color: #fff;
  border-radius: 0px;
}
.navbar-inverse .navbar-inner .brand {
  border-radius: 0px;
  border: 0px;
}
.navbar-inverse .navbar-inner .navbar-search {
  margin-top: -5px;
  margin-right: 20px;
  margin-bottom: 2px;
  border: 0px;
}
.btn-negative {
  color: #fff;
  background-color: #64ecff;
}
.btn-negative:hover {
  color: #64ecff;
  background-color: #fff;
}
.btn-positive {
  color: #64ecff;
  background-color: #fff;
}
.btn-positive:hover {
  color: #fff;
  background-color: #64ecff;
}
.ui-tooltip {
  background-color: #f00;
}
.text-shadower {
  text-shadow: -1px -1px 0 #dedede, 1px -1px 0 #dedede, -1px 1px 0 #dedede, 1px 1px 0 #dedede, 2px 2px 5px #666;
}
.open > .dropdown-arrow {
  margin-top: 10px;
}
.conceptBox {
  margin-bottom: 20px;
}
.fw500 {
  font-weight: 500;
}
.fw300 {
  font-weight: 300;
}
.fw100 {
  font-weight: 100;
}
.homepage .hero-unit-desktop {
  height: 700px;
  margin: 0 0 40px 0;
  padding: 0;
  color: #fff;
  font-weight: 300;
}
.homepage .hero-unit-desktop h1 {
  font-family: mission_scriptregular;
}
.homepage .hero-unit-phone {
  height: 325px;
  padding: 0;
  position: relative;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("https://s3-us-west-2.amazonaws.com/aggregus-production/CityPhone2.svg");
}
.homepage .hero-unit-phone h4 {
  font-weight: 100;
  font-size: 40px;
  text-align: left;
  line-height: 40px;
  width: 100%;
}
.homepage .hero-unit-phone h5 {
  font-weight: 100;
  font-size: 17px;
  text-align: left;
  width: 100%;
}
.desc {
  font-weight: 100;
  text-align: center;
}
@-webkit-keyframes sideBlastMobile {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  95% {
    opacity: 1;
    margin-bottom: 25px;
  }

  100% {
    opacity: 0;
    margin-bottom: 25px;
  }
}
@-webkit-keyframes float25 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  95% {
    opacity: 1;
    margin-bottom: 25px;
  }

  100% {
    opacity: 0;
    margin-bottom: 25px;
  }
}
@-webkit-keyframes float50 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  95% {
    opacity: 1;
    margin-bottom: 50px;
  }

  100% {
    opacity: 0;
    margin-bottom: 50px;
  }
}
@-webkit-keyframes float75 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  95% {
    opacity: 1;
    margin-bottom: 75px;
  }

  100% {
    opacity: 0;
    margin-bottom: 75px;
  }
}
@-webkit-keyframes float100 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  95% {
    opacity: 1;
    margin-bottom: 100px;
  }

  100% {
    opacity: 0;
    margin-bottom: 100px;
  }
}
@-webkit-keyframes rocket {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0;
    margin-left: 200px;
    margin-bottom: 100px;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    margin-left: 500px;
  }
}
.float25 {
  -webkit-animation-name: float25;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  opacity: 0;
}
.float50 {
  -webkit-animation: float50;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  opacity: 0;
}
.float75 {
  -webkit-animation: float75;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  opacity: 0;
}
.float100 {
  -webkit-animation: float100;
  -webkit-animation-iteration-count: infinite;
  position: absolute;
  opacity: 0;
}
.rocket {
  -webkit-animation: rocket;
  -webkit-animation-iteration-count: 1;
  position: absolute;
  opacity: 0;
}
.duration1 {
  -webkit-animation-duration: 1s;
}
.duration2 {
  -webkit-animation-duration: 2s;
}
.duration3 {
  -webkit-animation-duration: 3s;
}
.duration4 {
  -webkit-animation-duration: 4s;
}
.duration5 {
  -webkit-animation-duration: 5s;
}
.delay1 {
  -webkit-animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s;
}
.delay4 {
  -webkit-animation-delay: 4s;
}
.delay5 {
  -webkit-animation-delay: 5s;
}
