		div.hero-unit.text-center(style="height:200px;background-position:50% 50%;background-size:cover;background-image:url('http://static.panoramio.com/photos/large/70208543.jpg')")
			div(style="margin-top:-20px;position:relative;left:50%;margin-left:-125px;height:250px;width:250px;background-color:rgba(0, 0, 0, 0.5); border-radius:125px")
				i.icon-lock(style="font-size:200px;color:white;margin: 50px 0 0 -115px;")
				i.icon-key(style="position:absolute;color:#64ecff;font-size:50px;margin:132px 0 0 26px;")	
		div.container.body
			h2.text-center(style="margin-top:-10px;font-weight:300") Bellingham Needs to be Unlocked
			h6.text-center Enter your email to request that Aggregus unlock this community!
			div.row.mtl
				div.offset3.span6
					input.span4(type="text", placeholder="Enter Your Email Here")
					button.btn.btn-primary.span2.pull-right Unlock it!
			div.span8.offset2.progress(data-toggle="tooltip", title="Hi there!")
				div.bar(Style="width: 78%")
			div.span9.text-left
				p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Want Aggregus in Bellingham? We do too!
				p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter your email to the right to request that Aggregus unlock Bellingham, and for a chance to become a founding member of your community. Make sure to share this page with your friends via Facebook and Twitter! Rumor has it that, once we reach 100 requests, something magical happens...
				p 
					| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Want to help spread the word? Apply to become Bellingham's City Ambassador, which comes with a all manner of awesome Aggregus perks, such as discounted experiences, swag, and more! Learn more about City Ambassadors by clicking
					a(href="#")  here
					| .
				form
					fieldset
						legend Apply To Become a City Ambassador
						span.help-block This will be explanatory text defining the city
						label First Name
						input(type="text", placeholder="First Name")
						label Last Name
						input(type="text", placeholder="Last Name")
			div.span2
				form
					fieldset
						label(style="font-size:22px;margin:0 0 10px 0") Suggest an Experience!
						input(type="text",placeholder="Your email, please.")
						input.btn.btn-primary(type="button", value="Send Request")
				hr
				h1.text-left 78
				h5.text-left(style="margin-top:-10px") Requests So Far
				hr
				button.btn.btn-social-facebook(style="width:100%;margin-bottom:10px")
					i.fui-facebook
				button.btn.btn-social-twitter(style="width:100%;margin-bottom:10px")
					i.fui-twitter
				button.btn.btn-social-pinterest(style="width:100%;margin-bottom:10px")
					i.fui-pinterest
				hr
		div.bottom-menu
			div.container
				div.row
					div.span2.brand
						a.fui-flat(href="#")
					div.span8
						ul.bottom-links
							li
								a Stuff
							li
								a and Things