<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Aggregus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="A community marketplace for unique experiences.">
    <meta name="keywords" content="Aggregus, experiences, community, adventures, community ambassador, community ambassadors, hosting">
    <meta name="author" content="Aggregus LLC">
    <meta property="og:title" content="Aggregus">
    <meta property="og:description" content="A community marketplace for unique experiences.">
    <meta property="og:determiner" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.aggregus.com">
    <meta property="og:image:url" content="http://s3-us-west-2.amazonaws.com/aggregus-production/assets/Logos/Logo1000x1000.png">
    <meta property="og:image:url_secure" content="https://s3-us-west-2.amazonaws.com/aggregus-production/assets/Logos/Logo1000x1000.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:height" content="1000">
    <meta property="og:image:width" content="1000">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@aggregus">
    <meta name="twitter:creator" content="@aggregus">
    <meta name="twitter:title" content="Aggregus">
    <meta name="twitter:description" content="A community marketplace for unique experiences.">
    <meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/aggregus-production/assets/Logos/Logo1000x1000.png">
    <link rel="stylesheet" type="text/css" href="../../css/aggregus.css">
    <script type="text/javascript" data-main="../../main.js" src="../../lib/require.js"></script>
  </head>
  <body class="homepage">
    <div class="modal login">
      <div class="modal-header"> 
        <button type="button" onclick="$($(this)[0].parentElement.parentElement).hide()" data-dismiss="modal" aria-hidden="true" class="close fui-cross"></button>
        <h3>Log In</h3>
      </div>
      <div class="modal-body text-center pbm">
        <button class="btn btn-huge btn-social-facebook">Login with Facebook</button>
        <p class="mam">- or -</p>
        <div class="control-group mbn">
          <div class="input-append">
            <input type="text" placeholder="Email" class="span3"><span class="add-on fui-user"></span>
          </div>
        </div>
        <div class="control-group">
          <div class="input-append">
            <input type="password" placeholder="Password" class="span3"><span class="add-on fui-lock"></span>
          </div>
        </div>
        <p class="man">Don't have an account?<a> Register Now</a>.</p>
      </div>
      <div class="modal-footer man">
        <button type="button" class="btn">Cancel</button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="hidden-desktop hidden-tablet mobile-navbar-fill-left"></div>
        <div class="hidden-desktop hidden-tablet mobile-navbar-fill-right"></div>
        <div class="container">
          <button type="button" data-toggle="collapse" data-target="#nav-collapse-01" class="btn btn-navbar collapsed hidden-tablet"></button>
          <div class="brand">Aggregus</div>
          <div id="nav-collapse-01" class="nav-collapse in collapse">
            <form class="hidden-desktop hidden-tablet navbar-form form-search navbar-search span3">
              <div class="input-append">
                <input type="text" placeholder="Email" class="search-query span3">
                <button type="button" class="btn"> <i class="icon-user"></i></button>
              </div>
              <div class="input-append">
                <input type="password" placeholder="Password" class="search-query span3">
                <button type="button" class="btn"> <i class="icon-key"></i></button>
              </div>
              <button type="button" class="btn mobile-button span3 mbn">Login</button>
              <p class="mtm mbn text-center">Don't have an account?<strong> <a>Register here.</a></strong></p>
              <hr class="mtm">
              <div class="input-append">
                <input type="text" placeholder="Find Your Community" class="search-query span3">
                <button type="submit" class="btn"> <span class="fui-search"></span></button>
              </div>
              <p></p>
            </form>
            <form class="hidden-tablet hidden-phone navbar-form form-search navbar-search pull-right">
              <button class="btn mrm login-button">Login</button>
              <button class="btn mrm login-button">Join</button>
              <div class="input-append">
                <input type="text" data-provide="typeahead" placeholder="Find Your Community" class="search-query typeahead">
                <button type="submit" class="btn"> <span class="fui-search"></span></button>
              </div>
            </form>
          </div>
          <form class="hidden-desktop hidden-phone navbar-form form-inline form-search navbar-search navbar-search-tablet span3 pull-right">
            <button class="btn mrm login-button">Login</button>
            <div class="input-append">
              <input type="text" placeholder="Find Your Community" class="search-query span3">
              <button type="submit" class="btn"> <span class="fui-search"></span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div style="background-image:url('http://farm1.staticflickr.com/223/500014042_1f4d1e4baf_o.jpg')" class="hidden-tablet hidden-phone hero-unit desktop text-center">
      <div class="overcast"></div>
      <div class="container">
        <h1>Experience Bellingham</h1>
        <h6>(Like never before.)</h6>
        <button class="btn btn-primary">Let's Go!</button>
        <p>Don't live in Bellingham?<a> Click here.</a></p>
      </div>
    </div>
    <div style="background-image:url('http://farm1.staticflickr.com/223/500014042_1f4d1e4baf_o.jpg')" class="hidden-desktop hidden-phone hero-unit tablet text-center">
      <div class="container">
        <h1>Experience Bellingham</h1>
        <h6>(Like never before.)</h6>
        <button class="btn btn-primary">Let's Go!</button>
        <p>Don't live in Bellingham?<a> Click here.</a></p>
      </div>
    </div>
    <div style="background-image:url('http://farm1.staticflickr.com/223/500014042_1f4d1e4baf_o.jpg')" class="hidden-desktop hidden-tablet hero-unit phone text-center">
      <div class="container">
        <h1>Experience Your Community</h1>
        <h6>(Like never before.)</h6>
        <button class="btn btn-primary">Find yours!</button>
      </div>
    </div>
    <div class="container">
      <div class="lead">Experiences Near <a>Bellingham, WA</a></div>
      <div style="background-image:url('https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/946/extra_large_SideTour_Morningside_Heights.jpg')" class="experience-card span4">
        <div class="header lead">
          <div class="title"> <a href="http://localhost:8080/experience/1">Marvel at Famed Architectural Wonders in Morningside Heights</a></div>
          <div class="author">by<a> Bill Schneberger</a></div>
          <div class="price">$15</div>
        </div>
      </div>
      <div style="background-image:url('https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/80/sailing.jpg')" class="experience-card span4">
        <div class="header lead">
          <div class="title">Cruise New York Harbor on a Private Sailboat</div>
          <div class="author">by<a> Walter Masterson</a></div>
          <div class="price">$65</div>
        </div>
      </div>
      <div style="background-image:url('https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/615/French_Macarons.jpg')" class="experience-card span4 end">
        <div class="header lead">
          <div class="title">Make Melt-in-Your-Mouth Macarons with a French Pastry Chef</div>
          <div class="author">by<a> Olivier Dessyn</a></div>
          <div class="price">$135</div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mtm">View More Experiences in Bellingham</button>
      </div>
      <hr>
      <div class="introduction text-center">
        <h1 class="hidden-tablet hidden-phone desktop"> <span class="logo">Aggregus </span>is a community marketplace for unique experiences.</h1>
        <h1 class="hidden-desktop hidden-phone tablet"><span class="logo">Aggregus </span>is a community marketplace for unique experiences.</h1>
        <h1 class="hidden-desktop hidden-tablet phone">Welcome to<br><span class="logo">Aggregus</span></h1>
        <h6 class="hidden-tablet hidden-phone desktop">Learn more about Aggregus Experiences, Hosts, and Communities.</h6>
        <h6 class="hidden-desktop hidden-phone tablet">Learn more about Aggregus Experiences, Hosts, and Communities.</h6>
        <h6 class="hidden-desktop hidden-tablet phone">A community marketplace for unique experiences.</h6>
        <div class="concept-row desktop hidden-tablet hidden-phone">
          <div class="concept-box span4 mlm">
            <h1>Experiences</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/25/extra_large_bankerturnedmonk.jpg" class="img-circle">
            <div class="desc">Try something new, have an adventure, or learn a new skill - an experience can be anything at all!</div>
            <button class="btn btn-primary">Learn More About Experiences</button>
          </div>
          <div class="concept-box span4 mlm">
            <h1>Hosting</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/708/extra_large_SideTour_Yoga_Farm.jpg" class="img-circle">
            <div class="desc">Share your passion with your community in an entirely new way. Flexible, pain-free, and rewarding.</div>
            <button class="btn btn-primary">Learn More About Hosting</button>
          </div>
          <div class="concept-box span4 mlm">
            <h1>Communities</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/159/extra_large_buddha_bar.jpg" class="img-circle">
            <div class="desc">Discover amazing people and local businesses near you through your unique Aggregus community.</div>
            <button class="btn btn-primary">Learn More About Communities</button>
          </div>
        </div>
        <div class="concept-row tablet hidden-desktop hidden-phone">
          <div class="concept-box span4 mlm">
            <h1>Experiences</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/25/extra_large_bankerturnedmonk.jpg" class="img-circle">
            <div class="desc">Try something new, have an adventure, or learn a new skill - an experience can be anything at all!</div>
            <button class="btn btn-primary">Learn About Experiences</button>
          </div>
          <div class="concept-box span4 mlm">
            <h1>Hosting</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/708/extra_large_SideTour_Yoga_Farm.jpg" class="img-circle">
            <div class="desc">Share your passion with your community in an entirely new, flexible way.</div>
            <button class="btn btn-primary">Learn About Hosting</button>
          </div>
          <div class="concept-box span4 mlm">
            <h1>Communities</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/159/extra_large_buddha_bar.jpg" class="img-circle">
            <div class="desc">Discover experiences near you through your unique Aggregus Community.</div>
            <button class="btn btn-primary">Learn About Communities</button>
          </div>
        </div>
        <div style="margin-bottom:200px" class="concept-row phone hidden-desktop hidden-tablet">
          <div class="concept-box span4 mlm well">
            <h1>Experiences</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/25/extra_large_bankerturnedmonk.jpg" class="img-circle">
            <div class="desc">Try something new, have an adventure, or learn a new skill - an experience can be anything at all!</div>
            <button class="btn btn-primary">Learn More About Experiences</button>
          </div>
          <div class="concept-box span4 mlm well">
            <h1>Hosting</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/708/extra_large_SideTour_Yoga_Farm.jpg" class="img-circle">
            <div class="desc">Share your passion with your community in an entirely new way. Flexible, pain-free, and rewarding.</div>
            <button class="btn btn-primary">Learn More About Hosting</button>
          </div>
          <div class="concept-box span4 mlm well">
            <h1>Communities</h1><img src="https://s3.amazonaws.com/production.sidetour/uploads/experience/main_image/159/extra_large_buddha_bar.jpg" class="img-circle">
            <div class="desc">Discover amazing people and local businesses near you through your unique Aggregus community.</div>
            <button class="btn btn-primary">Learn More About Communities</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-menu bottom-menu-inverse">
      <div class="container">
        <div class="row">
          <div class="brand span2">Aggregus</div>
          <div class="span8">
            <ul class="bottom-links">
              <li><a>Learn More</a></li>
              <li><a>Careers</a></li>
              <li><a>Privacy</a></li>
              <li><a>Terms</a></li>
            </ul>
          </div>
          <div class="span2">
            <ul class="bottom-icons">
              <li><a class="fui-facebook"></a></li>
              <li><a class="fui-twitter"></a></li>
              <li><a class="fui-pinterest"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>