!!!
html(lang="en")
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		<!--[if lte IE 8]>
		link(rel='stylesheet', type='text/css', href='../../css/ie8.css')
		<![endif]-->

		<!--[if gte IE 9]>
		link(rel='stylesheet', type='text/css', href='../../css/aggregus.css')
		script(type='text/javascript', data-main='../../main.js', src='../../lib/require.js')
		<![endif]-->

		link(rel='stylesheet', type='text/css', href='../../css/aggregus.css')
		script(type='text/javascript', data-main='../../main.js', src='../../lib/require.js')

	body.homepage
		div.header
			div.logo
				a(href='#')
					span A
			div.menu-item
				i.icon-cog
		div.hero-image