		div.container
			div.hero-unit.text-center(style="background-image:url('https://d2qjfe4gq0m6av.cloudfront.net/users/RyanMiller16899724/coverimgs/1374368227226.jpg');background-size:cover;background-position:center;height:325px")
				img.img-polaroid.img-circle(style="margin-top: -35px",width="250",src="https://d2qjfe4gq0m6av.cloudfront.net/users/RyanMiller16899724/profileimgs/1374381328674.jpg")
				h1.hidden-phone.text-shadower(style="font-weight:900;color:white") Ryan Miller and Absolute Third
				h3.hidden-desktop.hidden-tablet(style="font-weight:900;text-shadow: 2px 2px #666;color:white") Ryan Miller and Absolute Third
				p.mbl
				button.btn.btn-huge.btn-primary Send Ryan A Message						
			div.row
				div.span9.main
					div.lead About Me
					p Hi there! I'm the founder of Aggregus.com, and when I'm not buried in code trying to keep the site from crashing, I'm drinking my favorite Unibroue beer, reading Wallace Stevens, and trying to curb my obsession with Ridiculous Fishing. But that's never going to happen...
					div.lead My Badges
					div.mtx.mbm
						img(style="margin: 0 5px 5px 0;",width="100px",width="100px", src="http://s9.postimg.org/r8c2g4r4b/Demo.png")
						img(style="margin: 0 5px 5px 0;",width="100px",width="100px", src="http://s9.postimg.org/r8c2g4r4b/Demo.png")
						img(style="margin: 0 5px 5px 0;",width="100px",width="100px", src="http://s9.postimg.org/r8c2g4r4b/Demo.png")
						img(style="margin: 0 5px 5px 0;",width="100px",width="100px", src="http://s9.postimg.org/r8c2g4r4b/Demo.png")
					hr
					div.lead Host Reviews
					ul.media-list
						li.media
							a.pull-left(href="#")
								img.img-circle.media-object(height="60", width="60",src="https://d2qjfe4gq0m6av.cloudfront.net/experiences/18090903/profileimgs/1376502804938.jpg")
							div.media-body
								h6.media-heading Sarah was absolutely amazing!
								p Sarah was wonderful. She sang us songs and we had a great time. Her CD is on auto-play in my apartment non-stop.
						li.media
							a.pull-left(href="#")
								img.img-circle.media-object(height="60", width="60",src="https://d2qjfe4gq0m6av.cloudfront.net/experiences/RyanMiller16899724/profileimgs/1374531530346.jpg")
							div.media-body
								h6.media-heading Well howdy-do!
								p Now that's what I call a voice! Nice job Sarah, we had a great time!
						li.media
							a.pull-left(href="#")
								img.img-circle.media-object(height="60", width="60",src="https://d2qjfe4gq0m6av.cloudfront.net/experiences/18090903/profileimgs/1376502804938.jpg")
							div.media-body
								h6.media-heading Sarah was absolutely amazing!
								p Sarah was wonderful. She sang us songs and we had a great time. Her CD is on auto-play in my apartment non-stop. Sarah was wonderful. She sang us songs and we had a great time. Her CD is on auto-play in my apartment non-stop.
						li.media
							a.pull-left(href="#")
								img.img-circle.media-object(height="60", width="60",src="https://d2qjfe4gq0m6av.cloudfront.net/experiences/RyanMiller16899724/profileimgs/1374531530346.jpg")
							div.media-body
								h6.media-heading Well howdy-do!
								p Now that's what I call a voice! Nice job Sarah, we had a great time!
					hr
					div.lead Photos
					div#photos.carousel.slide
						ol.carousel-indicators
							li.active(data-target="photos", data-slide-to="0")
							li(data-target="photos", data-slide-to="1")
						div.carousel-inner
							div.active.item
								img(src="http://s9.postimg.org/ky8vuxpsv/Thing.jpg")
							div.item
								img(src="http://sailbeach.com/user/cimage/Beach-House.jpg")
						a.carousel-control.fui-arrow-left.left(href="#photos", data-slide="prev")
						a.carousel-control.fui-arrow-right.right(href="#photos", data-slide="next")
					hr
					div.lead.pull Video
					div.span9.flex-video.widescreen
						iframe(src="//www.youtube.com/embed/tv6lzSuTHhs", frameborder="", allowfullscreen)
				div.span3
					div.lead.mbs My Experiences
					div.span3(style="border-radius: 6px;position:relative;margin:10px 11px 10px 0;height:225px;background-image:url('https://d2qjfe4gq0m6av.cloudfront.net/experiences/18136460/coverimgs/1374692288501.jpg');background-size:cover;background-position:center;border: 2px solid #FAFAFA;box-shadow: 0 1px 2px rgb(34, 25, 25);box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);")
						div(style="background-color:rgba(255,255,255,0.95);padding:10px;color:#444")
							div.lead(style="line-height:22px;margin:0;font-size:20px;") Guatemalan Coffee Flight
							div.lead(style="line-height:22px;margin:0;font-size:17px;")
								| by 
								a(style="color:#57DFF2") Onyx Coffee
						div.pull-right(style="font-size:30px;border-radius: 6px 0 0 0;bottom:0px;right:0px;font-weight:300;position:absolute;background-color:rgba(255,255,255,0.95);padding:10px;") $10
				div.span3.community.pull-right
					hr
					div.lead Sarah's Community
					div.image(style="background-image:url('http://media-cdn.tripadvisor.com/media/photo-s/00/1a/a8/21/bellingham-bay.jpg')")
						div.footer 
							div.title Bellingham
							div.desc Land of abundant trees and heady ganja.
					button.btn.btn-block.btn-primary.mtm View Community
				div.span3
					hr
					div.lead.mbl My Profiles
					div.hidden-phone
						button.btn.btn-block.btn-social-facebook.mbm
							i.fui-facebook
						button.btn.btn-block.btn-social-twitter.mbm
							i.fui-twitter
						button.btn.btn-block.btn-social-pinterest.mbm
							i.fui-pinterest
					hr
					button#social.btn.btn-huge.btn-primary(style="width:100%") 
						| Share
					hr