/* Vendor Imports */
@import 'font-awesome/css/font-awesome.min.css';
@import 'leaflet/leaflet.css';
@import 'bootstrap/bootstrap.css';
@import 'bootstrap/bootstrap-responsive.css';
@import 'flat-ui/flat-ui.css';
@import 'social/social.css';
/* General Overrides */
@import 'aggregus/general.css';
@import 'aggregus/navbar.css';
@import 'aggregus/modal.css';
@import 'aggregus/footer.css';
@import 'aggregus/experience-card.css';
/* Page-Specific Overrides */
@import 'aggregus/homepage.css';
@import 'aggregus/experience.css';
@import 'aggregus/profile.css';
@import 'aggregus/community/locked.css';
@font-face {
  font-family: mission_scriptregular;
  font-style: normal;
  font-weight: regular;
  src: url("http://jamestedmondson.com/assets/webfonts/mission-script-webfont.eot");
  src: url("http://jamestedmondson.com/assets/webfonts/mission-script-webfont.eot?#iefix") format('embedded-opentype');
  src: url("http://jamestedmondson.com/assets/webfonts/mission-script-webfont.woff") format('woff');
  src: url("http://jamestedmondson.com/assets/webfonts/mission-script-webfont.ttf") format('truetype');
  src: url("http://jamestedmondson.com/assets/webfonts/mission-script-webfont.svg#mission_scriptregular") format('svg');
}
@font-face {
  font-family: wisdom_scriptregular;
  font-style: normal;
  font-weight: regular;
  src: url("http://jamestedmondson.com/assets/webfonts/wisdom-script_aj-webfont.eot");
  src: url("http://jamestedmondson.com/assets/webfonts/wisdom-script_aj-webfont.eot?#iefix") format('embedded-opentype');
  src: url("http://jamestedmondson.com/assets/webfonts/wisdom-script_aj-webfont.woff") format('woff');
  src: url("http://jamestedmondson.com/assets/webfonts/wisdom-script_aj-webfont.ttf") format('truetype');
  src: url("http://jamestedmondson.com/assets/webfonts/wisdom_script_aj-webfont.svg#wisdom_scriptregular") format('svg');
}
